[class*=f-] {
  box-sizing: border-box;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}

.f-f {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.f-f--j {
  display: flex;
  justify-content: space-between;
}

.f-f--g {
  gap: 10px;
}

.f-c--b {
  background: #000;
  color: #fff;
}

.f--p {
  cursor: pointer;
}

.f--r {
  border-radius: 4px;
}

.f-w--50, .f-w--h {
  width: calc(50% - 5px);
}

.f-w--100, .f-w--f {
  width: 100%;
}

.f-p--s {
  padding: 5px;
}

.f-pt--s {
  padding-top: 5px;
}

.f-pb--s {
  padding-bottom: 5px;
}

.f-px--s {
  padding-left: 5px;
  padding-right: 5px;
}

.f-py--s {
  padding-top: 5px;
  padding-bottom: 5px;
}

.f-p--m {
  padding: 10px;
}

.f-pt--m {
  padding-top: 10px;
}

.f-pb--m {
  padding-bottom: 10px;
}

.f-px--m {
  padding-left: 10px;
  padding-right: 10px;
}

.f-py--m {
  padding-top: 10px;
  padding-bottom: 10px;
}

.f-p--n {
  padding: 15px;
}

.f-pt--n {
  padding-top: 15px;
}

.f-pb--n {
  padding-bottom: 15px;
}

.f-px--n {
  padding-left: 15px;
  padding-right: 15px;
}

.f-py--n {
  padding-top: 15px;
  padding-bottom: 15px;
}

.f-p--l {
  padding: 18px;
}

.f-pt--l {
  padding-top: 18px;
}

.f-pb--l {
  padding-bottom: 18px;
}

.f-px--l {
  padding-left: 18px;
  padding-right: 18px;
}

.f-py--l {
  padding-top: 18px;
  padding-bottom: 18px;
}

.f-s--s {
  font-size: 13px;
}

.f-s--m {
  font-size: 14px;
}

.f-s--n {
  font-size: 16px;
}

.f-s--l {
  font-size: 18px;
}

.f-w--b {
  font-weight: 700;
}

.f-w--m {
  font-weight: 500;
}

.f-shadow {
  box-shadow: 0 0 17px 5px rgba(233, 233, 233, 0.4784313725), inset 0 0 0px 1px #ededed;
}

.f-gd {
  background-image: linear-gradient(-303deg, rgb(0, 164, 189), rgb(0, 175, 178) 56%, rgb(0, 189, 165));
  color: #fff;
}

.f--input {
  padding: 9px 11px;
  border: 1px solid rgb(203, 214, 226);
  border-radius: 4px;
  font-weight: 400;
  color: #2c2c2c;
  outline: none;
  transition: all 250ms ease;
  width: 100%;
  background: #fff;
}

[appearance=hidden] {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* Calendar */
.f-d-c-c {
  position: relative;
}

.f-d-c {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background: #fff;
  border: 1px solid rgb(203, 214, 226);
  border-radius: 4px;
  box-shadow: 0 0 17px 5px rgba(233, 233, 233, 0.3019607843);
  width: 280px;
  margin-top: 5px;
  padding: 10px;
  font-size: 14px;
}
.f-d-c .f-d-d {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  text-align: center;
}
.f-d-c .f-q-d-p {
  display: flex;
  align-items: center;
  margin: -11px -11px 0;
  background: #32bace;
  color: #fff;
}
.f-d-c .f-d-h {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 11px 0;
  border-bottom: 1px solid rgb(203, 214, 226);
  font-weight: 700;
}
.f-d-c .f-d-da.inactive.disabled {
  color: #ccc;
  cursor: not-allowed;
  opacity: 0.5;
}
.f-d-c .f-d-da {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  margin: 2px auto;
}
.f-d-c .f-d-da:hover:not(.inactive):not(.disabled) {
  background: rgba(0, 208, 228, 0.1);
}
.f-d-c .f-d-da.selected {
  background: #32bace;
  color: #fff;
  font-weight: 600;
}
.f-d-c .f-q-d-b {
  width: 100%;
  text-align: center;
  padding: 6px 5px 13px;
  font-weight: 600;
  cursor: pointer;
}

/* */
.fie {
  opacity: 0;
  transform: translateY(5px);
  visibility: hidden;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  will-change: opacity, transform;
}

.fi {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

/* Dropdown */
.f-dr-c {
  --imageUrl:url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E);
  position: relative;
  padding: 9px 11px;
  border: 1px solid rgb(203, 214, 226);
  border-radius: 4px;
  font-weight: 400;
  color: #2c2c2c;
  outline: none;
  transition: all 250ms ease;
  width: 100%;
  background: #fff;
  padding-right: 25px;
  background-image: var(--imageUrl);
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) center;
  height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
}
.f-dr-c.f--i--p {
  font-size: 13px;
  padding: 0px 35px 0px 15px;
  display: inline-flex;
  width: auto;
  border-radius: 33px;
  background-size: 9px;
  height: 30px;
}

.f-dr-m {
  background: #fff;
  border: 1px solid rgb(203, 214, 226);
  margin-top: -4px;
  border-top-color: #fff;
}
.f-dr-m.fe:before {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 8.7px 9px 0 9px;
  border-color: #FFFDFD transparent transparent transparent;
  transform: rotate(0deg) scale(-1);
  position: absolute;
  bottom: 99%;
  left: 20px;
  right: 0;
  z-index: 1;
}
.f-dr-m.fe {
  opacity: 0;
  transform: scale(0.9) translateY(5px);
  transform-origin: left top;
  visibility: hidden;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  will-change: opacity, transform;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  border: none;
  box-shadow: 0px -2px 5px 3px rgba(0, 0, 0, 0.0705882353);
  border-radius: 0 0 5px 5px;
  max-width: 160px;
}
.f-dr-m.fe .f-dr-o {
  font-size: 13px;
  padding: 5px 15px;
}
.f-dr-m.fee {
  opacity: 1;
  transform: translateY(0) scale(1);
  visibility: visible;
}
.f-dr-m .f-dr-o {
  cursor: pointer;
  padding: 9px 15px;
  white-space: pre;
}
.f-dr-m .f-dr-o.selected {
  background: #dcf5fa;
  font-weight: 600;
}

.f--input.invalid {
  border-color: red;
}

.disabled {
  opacity: 0.5;
}

/* */
div#widget-wrapper {
  position: fixed !important;
  z-index: 999999999999999;
  inset: 0 auto auto 0;
  background: #000;
  border-radius: 100px;
  box-shadow: inset 0 0 4px 2px rgba(255, 255, 255, 0.3411764706), 0 0 2px 1px #000;
  padding: 7px 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px;
}

.pick-control {
  font-family: system-ui;
  cursor: pointer;
  background-color: rgb(29, 29, 29);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: none;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  inset: 15px auto auto 15px;
  border: 1px solid #646464;
  color: rgb(255, 255, 255);
}

div#controls-wrapper {
  position: absolute;
  left: 100%;
  background: #252525;
  border-radius: 100px;
  display: flex;
  gap: 10px;
  padding: 10px 14px;
  margin-left: 15px;
  transform: translateX(-15px) scale(1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
}

div#widget-wrapper:hover div#controls-wrapper {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px) scale(1);
}

/* */
div#f-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

body, html {
  height: 3000px;
}

.mkr:not(.f-e--task) {
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  top: var(--y);
  left: var(--x);
  background: #000000;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui;
  box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.3098039216);
  font-weight: 700;
  font-size: 13px;
  border: 2px solid #ffffff;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 1000;
}
.mkr:not(.f-e--task):hover {
  transform: scale(0.8);
  background: #fff;
  color: #000;
  border-color: #000000;
}
.mkr:not(.f-e--task).active {
  transform: scale(0.7);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.8), 0 0 0 6px rgb(0, 0, 0);
  z-index: 10002;
  transform-origin: left top;
  margin-top: -8px;
  margin-left: -8px;
  transition: all 0.2s ease;
  z-index: 100000000;
}

[data-form-type] {
  background: #fff;
  max-width: 440px;
  z-index: 99999999;
}

.mkr.active {
  z-index: 999999999;
}

div#loginFormWrapper {
  background: #000;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999999999999;
  top: 0;
  left: 0;
}

.f-explorer {
  left: 0;
  top: 0;
  margin: 20px 70px;
  position: fixed;
  z-index: 10002;
  background: #fff;
  width: 360px;
}
.f-explorer .taskList {
  max-height: calc(100vh - 40px - 50px);
  overflow: auto;
}
.f-explorer .f-e--task {
  border-radius: 4px;
  border: 1px solid transparent;
  position: relative;
}
.f-explorer .f-e--task:not(:first-child):before {
  content: "";
  height: 1px;
  width: calc(100% + 20px);
  background: #cfcfcf;
  display: block;
  position: absolute;
  left: -10px;
  top: 0;
}
.f-explorer .f-e--task.active {
  background: rgba(0, 171, 182, 0.05);
  border-color: rgba(0, 171, 182, 0.35);
}
.f-explorer .f-e--task.active:before, .f-explorer .f-e--task.active + div:before {
  opacity: 0;
}

.f--w {
  --bg: 255, 255, 255;
  --opacity: 0.1;
  padding: 3px 9px 3px 7px;
  border-radius: 15px;
  background-color: rgba(var(--bg), var(--opacity));
  border: 1px solid rgba(var(--bg), 0.2);
  font-weight: 600;
  text-transform: capitalize;
  font-size: 11px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}
.f--w:not(.f--w--n):before {
  content: "";
  height: 13px;
  width: 13px;
  background: rgba(var(--bg), 1);
  display: inline-block;
  border-radius: 100%;
}
.f--w.low {
  --bg: 63,81,181;
  --opacity: 0.1;
}
.f--w.medium {
  --bg: 255,193,7;
  --opacity: 0.1;
}
.f--w.high {
  --bg: 220,53,69;
  --opacity: 0.1;
}

.selected-tag {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.selected-tag .remove-tag {
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  padding: 0 2px;
}
.selected-tag .remove-tag:hover {
  color: red;
}
.selected-tag[data-type=multiple] {
  display: inline-flex;
  border: 1px solid #cfcfcf;
  padding: 2px 8px;
  margin: 0 4px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  white-space: pre;
}/*# sourceMappingURL=style.css.map */